.header{ 
  background: lawngreen;
  height: 3%;
  width: 100%; 
}
.img-section{
  height: 10%;
  background: lightblue;
}
.img1{
  height: 100%;
}
.length-word{
  float:left;
  width:10%;
  height: 40%;
  background: lightcoral;
}
.RESUME{
  float: left;
  width:90%;
  height: 20%;
  background: lightseagreen;
}
.project1{
  float: left;
  width:30%;
  height: 20%;
  background:palegoldenrod;
}
.project2{
  float: left;
  width:30%;
  height: 20%;
  background: olivedrab;
}
.project3{
  float: left;
  width:30%;
  height: 20%;
  background:paleturquoise;
}

.footer{
  
  background: palevioletred;
}